In [1]:
import pandas as pd
import numpy as np
import os, sys
import re
import glob, os
from ckonlpy.tag import Twitter
from konlpy.tag import Kkma, Okt
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
from pyclustering.cluster import kmedoids
from collections import Counter
from tqdm import tqdm

In [44]:
BASE_DIR = os.getcwd()
print(BASE_DIR)
senti = pd.read_csv(BASE_DIR + '/ratings.txt', sep='\t')

C:\Users\admin\Desktop\4-2\cd2

In [4]:
senti

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

In [5]:
BASE_DIR

'C:\\Users\\admin\\Desktop\\4-2\\cd2'

In [6]:
df_test = pd.read_csv(BASE_DIR + '/test.txt', sep='\t')
df_train = pd.read_csv(BASE_DIR + '/train.txt', sep='\t')

In [7]:
df_train['document'].nunique(), df_train['label'].nunique()
df_train.drop_duplicates(subset=['document'], inplace=True)

In [8]:
df_train = df_train.dropna(how = 'any')

In [9]:
df_train['document'] = df_train['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
df_train[:5]

C:\Users\admin\AppData\Local\Temp/ipykernel_22692/1677612632.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_train['document'] = df_train['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [10]:
df_train['document'] = df_train['document'].str.replace('^ +', "") # white space 데이터를 empty value로 변경
df_train['document'].replace('', np.nan, inplace=True)

C:\Users\admin\AppData\Local\Temp/ipykernel_22692/2419574225.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_train['document'] = df_train['document'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

In [11]:
df_train.loc[df_train.document.isnull()][:5]

           id document  label
404   4221289      NaN      0
412   9509970      NaN      1
470  10147571      NaN      1
584   7117896      NaN      0
593   6478189      NaN      0

In [12]:
df_train = df_train.dropna(how = 'any')

In [13]:
df_test.drop_duplicates(subset = ['document'], inplace=True) # document 열에서 중복인 내용이 있다면 중복 제거
df_test['document'] = df_test['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") # 정규 표현식 수행
df_test['document'] = df_test['document'].str.replace('^ +', "") # 공백은 empty 값으로 변경
df_test['document'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
df_test = df_test.dropna(how='any') # Null 값 제거

C:\Users\admin\AppData\Local\Temp/ipykernel_22692/2602539837.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test['document'] = df_test['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") # 정규 표현식 수행
C:\Users\admin\AppData\Local\Temp/ipykernel_22692/2602539837.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test['document'] = df_test['document'].str.replace('^ +', "") # 공백은 empty 값으로 변경

In [14]:
df_train.to_csv(BASE_DIR + '/train.csv', encoding='utf-8-sig', index=False)
df_test.to_csv(BASE_DIR + '/test.csv', encoding='utf-8-sig', index=False)

In [15]:
df_test = pd.read_csv(BASE_DIR + '/test.csv')
df_train = pd.read_csv(BASE_DIR + '/train.csv')

In [16]:
stopwords = pd.read_csv("https://raw.githubusercontent.com/yoonkt200/FastCampusDataset/master/korean_stopwords.txt").values.tolist()

In [17]:
okt = Okt()
okt.morphs('와 이런 것도 영화라고 차라리 뮤직비디오를 만드는 게 나을 뻔', stem = True)

['오다', '이렇다', '것', '도', '영화', '라고', '차라리', '뮤직비디오', '를', '만들다', '게', '나다', '뻔']

In [18]:
X_train = []
for sentence in tqdm(df_train['document']):
    tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
    stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
    X_train.append(stopwords_removed_sentence)

100%|█████████████████████████████████████████████████████████████████████████| 145393/145393 [04:48<00:00, 504.48it/s]

In [19]:
X_test = []
for sentence in tqdm(df_test['document']):
    tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
    stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
    X_test.append(stopwords_removed_sentence)

100%|███████████████████████████████████████████████████████████████████████████| 48852/48852 [01:47<00:00, 456.48it/s]

In [20]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

In [21]:
threshold = 3
total_cnt = len(tokenizer.word_index) # 단어의 수
rare_cnt = 0 # 등장 빈도수가 threshold보다 작은 단어의 개수를 카운트
total_freq = 0 # 훈련 데이터의 전체 단어 빈도수 총 합
rare_freq = 0 # 등장 빈도수가 threshold보다 작은 단어의 등장 빈도수의 총 합

# 단어와 빈도수의 쌍(pair)을 key와 value로 받는다.
for key, value in tokenizer.word_counts.items():
    total_freq = total_freq + value

    # 단어의 등장 빈도수가 threshold보다 작으면
    if(value < threshold):
        rare_cnt = rare_cnt + 1
        rare_freq = rare_freq + value

print('단어 집합(vocabulary)의 크기 :',total_cnt)
print('등장 빈도가 %s번 이하인 희귀 단어의 수: %s'%(threshold - 1, rare_cnt))
print("단어 집합에서 희귀 단어의 비율:", (rare_cnt / total_cnt)*100)
print("전체 등장 빈도에서 희귀 단어 등장 빈도 비율:", (rare_freq / total_freq)*100)

단어 집합(vocabulary)의 크기 : 43770
등장 빈도가 2번 이하인 희귀 단어의 수: 24337
단어 집합에서 희귀 단어의 비율: 55.60201050948138
전체 등장 빈도에서 희귀 단어 등장 빈도 비율: 1.571480691144935

In [22]:
# 전체 단어 개수 중 빈도수 2이하인 단어는 제거.
# 0번 패딩 토큰을 고려하여 + 1
vocab_size = total_cnt - rare_cnt + 1
print('단어 집합의 크기 :',vocab_size)

단어 집합의 크기 : 19434

In [23]:
tokenizer = Tokenizer(vocab_size) 
tokenizer.fit_on_texts(X_train)
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

In [26]:
y_train = np.array(df_train['label'])
y_test = np.array(df_train['label'])

In [27]:
drop_train = [index for index, sentence in enumerate(X_train) if len(sentence) < 1]

In [28]:
X_train = np.delete(X_train, drop_train, axis=0)
y_train = np.delete(y_train, drop_train, axis=0)
print(len(X_train))
print(len(y_train))

145181
145181

C:\Users\admin\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [31]:
def below_threshold_len(max_len, nested_list):
    count = 0
    for sentence in nested_list:
        if(len(sentence) <= max_len):
            count = count + 1
    print('전체 샘플 중 길이가 %s 이하인 샘플의 비율: %s'%(max_len, (count / len(nested_list))*100))

In [32]:
max_len = 30
below_threshold_len(max_len, X_train)

전체 샘플 중 길이가 30 이하인 샘플의 비율: 91.6194267844966

In [33]:
X_train = pad_sequences(X_train, maxlen=max_len)
X_test = pad_sequences(X_test, maxlen=max_len)

In [34]:
from tensorflow.keras.layers import Embedding, Dense, LSTM
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

embedding_dim = 100
hidden_units = 128

model = Sequential()
model.add(Embedding(vocab_size, embedding_dim))
model.add(LSTM(hidden_units))
model.add(Dense(1, activation='sigmoid'))

es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=4)
mc = ModelCheckpoint('best_model.h5', monitor='val_acc', mode='max', verbose=1, save_best_only=True)

model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
history = model.fit(X_train, y_train, epochs=10, callbacks=[es, mc], batch_size=64, validation_split=0.2)

Epoch 1/10
1814/1815 [============================>.] - ETA: 0s - loss: 0.3896 - acc: 0.8221
Epoch 1: val_acc improved from -inf to 0.84420, saving model to best_model.h5
1815/1815 [==============================] - 46s 25ms/step - loss: 0.3897 - acc: 0.8221 - val_loss: 0.3528 - val_acc: 0.8442
Epoch 2/10
1814/1815 [============================>.] - ETA: 0s - loss: 0.3276 - acc: 0.8566
Epoch 2: val_acc improved from 0.84420 to 0.85178, saving model to best_model.h5
1815/1815 [==============================] - 44s 24ms/step - loss: 0.3276 - acc: 0.8566 - val_loss: 0.3426 - val_acc: 0.8518
Epoch 3/10
1814/1815 [============================>.] - ETA: 0s - loss: 0.3025 - acc: 0.8705
Epoch 3: val_acc improved from 0.85178 to 0.86131, saving model to best_model.h5
1815/1815 [==============================] - 45s 25ms/step - loss: 0.3025 - acc: 0.8705 - val_loss: 0.3259 - val_acc: 0.8613
Epoch 4/10
1815/1815 [==============================] - ETA: 0s - loss: 0.2834 - acc: 0.8817
Epoch 4: val_acc did not improve from 0.86131
1815/1815 [==============================] - 46s 25ms/step - loss: 0.2834 - acc: 0.8817 - val_loss: 0.3385 - val_acc: 0.8533
Epoch 5/10
1814/1815 [============================>.] - ETA: 0s - loss: 0.2675 - acc: 0.8896
Epoch 5: val_acc did not improve from 0.86131
1815/1815 [==============================] - 46s 25ms/step - loss: 0.2675 - acc: 0.8896 - val_loss: 0.3263 - val_acc: 0.8605
Epoch 6/10
1813/1815 [============================>.] - ETA: 0s - loss: 0.2528 - acc: 0.8975
Epoch 6: val_acc did not improve from 0.86131
1815/1815 [==============================] - 47s 26ms/step - loss: 0.2528 - acc: 0.8975 - val_loss: 0.3340 - val_acc: 0.8613
Epoch 7/10
1814/1815 [============================>.] - ETA: 0s - loss: 0.2378 - acc: 0.9043
Epoch 7: val_acc did not improve from 0.86131
1815/1815 [==============================] - 47s 26ms/step - loss: 0.2378 - acc: 0.9043 - val_loss: 0.3304 - val_acc: 0.8612
Epoch 7: early stopping

In [37]:
def sentiment_predict(new_sentence):
    new_sentence = re.sub(r'[^ㄱ-ㅎㅏ-ㅣ가-힣 ]','', new_sentence)
    new_sentence = okt.morphs(new_sentence, stem=True) # 토큰화
    new_sentence = [word for word in new_sentence if not word in stopwords] # 불용어 제거
    encoded = tokenizer.texts_to_sequences([new_sentence]) # 정수 인코딩
    pad_new = pad_sequences(encoded, maxlen = max_len) # 패딩
    score = float(model.predict(pad_new)) # 예측
    if(score > 0.5):
        print("{:.2f}% 확률로 긍정 리뷰입니다.\n".format(score * 100))
    else:
        print("{:.2f}% 확률로 부정 리뷰입니다.\n".format((1 - score) * 100))

In [41]:
sentiment_predict('ㅇㅂ쟈ㅓㅇㄴㅁ')

1/1 [==============================] - 0s 15ms/step
60.85% 확률로 긍정 리뷰입니다.

In [ ]:
tokens = [t for d in train_x for t in d[0]]

import nltk
text = nltk.Text(tokens,name='NMSC')#nltk라이브러리를 통해서 텍스트 데이터 나열

len(set(text.tokens))#35425개의 고유 텍스트가 존재

text.vocab().most_common(20) #vocab().most_common(10) - 텍스트 빈도 상위 10개 보여주기 즉, count_values()를 통해서 내림차순한 것과 같습니다.

In [45]:
df = pd.read_excel(BASE_DIR+'/crawlingyonki88.xlsx')
df = df.fillna(0)
df

,Unnamed: 0,id,tags,content
0,0,yonki88,[],나의귀염둥이!
1,1,yonki88,[],Fluffy를 당당히 시켜먹는나이 이제어린이네 20개월
2,2,yonki88,"['#이모들과', '#모델박찬', '#다음에는']",소개울제빵소 조용히 먹자
3,3,yonki88,['#찬이가'],있어서 행복하다 근데 뽀뽀했더니 침을 질질흘리고있네... 내입에 다 묻어 부렸다
4,4,yonki88,"['#피부과', '#피부미용에']",갔다왔어요ㅎㅎ 신경써야지요
5,5,yonki88,"['#알맥스랜드⛺️', '#너도', '#사장님']",다리를 꼬을 수 있구나 포스 배부르니 슬슬 잠이 오지???늘어지는 모습
6,6,yonki88,"['#미리크리스마스🎄', '#오랫만에']",셀카뿅
7,7,yonki88,"['#Newhipseat', '#얼굴에', '#짜증나기']",자꾸 트러블나서 피부과 갔다왔네ㅠ 일보직전
8,8,yonki88,"['#찬이', '#새옷입고', '#아빠']",할머니 권사취임식날 촬칵 팔아프다 언능 걷자
9,9,yonki88,[],단둘이 집에남아.. 둘이 스타벅스가는길

In [46]:
def apply_regular_expression(text):
    hangul = re.compile('[^ ㄱ-ㅣ 가-힣]')  # 한글 추출 규칙: 띄어 쓰기(1 개)를 포함한 한글
    result = hangul.sub('', text)  # 위에 설정한 "hangul"규칙을 "text"에 적용(.sub)시킴
    return result

In [47]:
apply_regular_expression(df['content'][3])

'있어서 행복하다 근데 뽀뽀했더니 침을 질질흘리고있네 내입에 다 묻어 부렸다 '

In [48]:
okt = Okt()  # 명사 형태소 추출 함수
nouns = okt.nouns(apply_regular_expression(df['content'][3]))
nouns

['뽀뽀', '침', '질질', '입']

In [49]:
corpus = "".join(df['content'].tolist())
corpus

'나의귀염둥이! Fluffy를 당당히 시켜먹는나이 이제어린이네 20개월 소개울제빵소 조용히 먹자 있어서 행복하다 근데 뽀뽀했더니 침을 질질흘리고있네... 내입에 다 묻어 부렸다 갔다왔어요ㅎㅎ 신경써야지요 다리를 꼬을 수 있구나 포스 배부르니 슬슬 잠이 오지???늘어지는 모습 셀카뿅 자꾸 트러블나서 피부과 갔다왔네ㅠ 일보직전 할머니 권사취임식날 촬칵 팔아프다 언능 걷자 단둘이 집에남아.. 둘이 스타벅스가는길 '

In [50]:
apply_regular_expression(corpus)

'나의귀염둥이 를 당당히 시켜먹는나이 이제어린이네 개월 소개울제빵소 조용히 먹자 있어서 행복하다 근데 뽀뽀했더니 침을 질질흘리고있네 내입에 다 묻어 부렸다 갔다왔어요ㅎㅎ 신경써야지요 다리를 꼬을 수 있구나 포스 배부르니 슬슬 잠이 오지늘어지는 모습 셀카뿅 자꾸 트러블나서 피부과 갔다왔네ㅠ 일보직전 할머니 권사취임식날 촬칵 팔아프다 언능 걷자 단둘이 집에남아 둘이 스타벅스가는길 '

In [51]:
nouns = okt.nouns(apply_regular_expression(corpus))
print(nouns)

['나', '귀염둥이', '를', '어린이', '개월', '소개', '제빵', '소', '뽀뽀', '침', '질질', '입', '신경', '다리', '꼬을', '수', '포스', '슬슬', '잠', '오지', '모습', '셀카', '자꾸', '트러블', '피부', '일보', '직전', '할머니', '권', '취임식', '날', '촬칵', '팔', '단둘', '집', '남아', '둘', '스타벅스']

In [52]:
counter = Counter(nouns)

In [53]:
counter.most_common(10)

[('나', 1),
 ('귀염둥이', 1),
 ('를', 1),
 ('어린이', 1),
 ('개월', 1),
 ('소개', 1),
 ('제빵', 1),
 ('소', 1),
 ('뽀뽀', 1),
 ('침', 1)]

In [54]:
available_counter = Counter({x: counter[x] for x in counter if len(x) > 1})
available_counter.most_common(10)

[('귀염둥이', 1),
 ('어린이', 1),
 ('개월', 1),
 ('소개', 1),
 ('제빵', 1),
 ('뽀뽀', 1),
 ('질질', 1),
 ('신경', 1),
 ('다리', 1),
 ('꼬을', 1)]

In [55]:
stopwords = pd.read_csv("https://raw.githubusercontent.com/yoonkt200/FastCampusDataset/master/korean_stopwords.txt").values.tolist()
stopwords[:200]

[['휴'],
 ['아이구'],
 ['아이쿠'],
 ['아이고'],
 ['어'],
 ['나'],
 ['우리'],
 ['저희'],
 ['따라'],
 ['의해'],
 ['을'],
 ['를'],
 ['에'],
 ['의'],
 ['가'],
 ['으로'],
 ['로'],
 ['에게'],
 ['뿐이다'],
 ['의거하여'],
 ['근거하여'],
 ['입각하여'],
 ['기준으로'],
 ['예하면'],
 ['예를 들면'],
 ['예를 들자면'],
 ['저'],
 ['소인'],
 ['소생'],
 ['저희'],
 ['지말고'],
 ['하지마'],
 ['하지마라'],
 ['다른'],
 ['물론'],
 ['또한'],
 ['그리고'],
 ['비길수 없다'],
 ['해서는 안된다'],
 ['뿐만 아니라'],
 ['만이 아니다'],
 ['만은 아니다'],
 ['막론하고'],
 ['관계없이'],
 ['그치지 않다'],
 ['그러나'],
 ['그런데'],
 ['하지만'],
 ['든간에'],
 ['논하지 않다'],
 ['따지지 않다'],
 ['설사'],
 ['비록'],
 ['더라도'],
 ['아니면'],
 ['만 못하다'],
 ['하는 편이 낫다'],
 ['불문하고'],
 ['향하여'],
 ['향해서'],
 ['향하다'],
 ['쪽으로'],
 ['틈타'],
 ['이용하여'],
 ['타다'],
 ['오르다'],
 ['제외하고'],
 ['이 외에'],
 ['이 밖에'],
 ['하여야'],
 ['비로소'],
 ['한다면 몰라도'],
 ['외에도'],
 ['이곳'],
 ['여기'],
 ['부터'],
 ['기점으로'],
 ['따라서'],
 ['할 생각이다'],
 ['하려고하다'],
 ['이리하여'],
 ['그리하여'],
 ['그렇게 함으로써'],
 ['하지만'],
 ['일때'],
 ['할때'],
 ['앞에서'],
 ['중에서'],
 ['보는데서'],
 ['으로써'],
 ['로써'],
 ['까지'],
 ['해야한다'],
 ['일것이다'],
 ['반드시'],
 ['할줄알다'],
 ['할수있다'],
 ['할수있어'],
 ['임에 틀림없다'],
 ['한다면'],
 ['등'],
 ['등등'],
 ['제'],
 ['겨우'],
 ['단지'],
 ['다만'],
 ['할뿐'],
 ['딩동'],
 ['댕그'],
 ['대해서'],
 ['대하여'],
 ['대하면'],
 ['훨씬'],
 ['얼마나'],
 ['얼마만큼'],
 ['얼마큼'],
 ['남짓'],
 ['여'],
 ['얼마간'],
 ['약간'],
 ['다소'],
 ['좀'],
 ['조금'],
 ['다수'],
 ['몇'],
 ['얼마'],
 ['지만'],
 ['하물며'],
 ['또한'],
 ['그러나'],
 ['그렇지만'],
 ['하지만'],
 ['이외에도'],
 ['대해 말하자면'],
 ['뿐이다'],
 ['다음에'],
 ['반대로'],
 ['반대로 말하자면'],
 ['이와 반대로'],
 ['바꾸어서 말하면'],
 ['바꾸어서 한다면'],
 ['만약'],
 ['그렇지않으면'],
 ['까악'],
 ['툭'],
 ['딱'],
 ['삐걱거리다'],
 ['보드득'],
 ['비걱거리다'],
 ['꽈당'],
 ['응당'],
 ['해야한다'],
 ['에 가서'],
 ['각'],
 ['각각'],
 ['여러분'],
 ['각종'],
 ['각자'],
 ['제각기'],
 ['하도록하다'],
 ['와'],
 ['과'],
 ['그러므로'],
 ['그래서'],
 ['고로'],
 ['한 까닭에'],
 ['하기 때문에'],
 ['거니와'],
 ['이지만'],
 ['대하여'],
 ['관하여'],
 ['관한'],
 ['과연'],
 ['실로'],
 ['아니나다를가'],
 ['생각한대로'],
 ['진짜로'],
 ['한적이있다'],
 ['하곤하였다'],
 ['하'],
 ['하하'],
 ['허허'],
 ['아하'],
 ['거바'],
 ['와'],
 ['오'],
 ['왜'],
 ['어째서'],
 ['무엇때문에'],
 ['어찌'],
 ['하겠는가'],
 ['무슨'],
 ['어디'],
 ['어느곳'],
 ['더군다나'],
 ['하물며'],
 ['더욱이는'],
 ['어느때'],
 ['언제'],
 ['야']]

In [56]:
from sklearn.feature_extraction.text import CountVectorizer

def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅣ 가-힣]')  # 정규 표현식 처리
    result = hangul.sub('', text)
    okt = Okt()  # 형태소 추출
    nouns = okt.nouns(result)
    nouns = [x for x in nouns if len(x) > 1]  # 한글자 키워드 제거
    nouns = [x for x in nouns if x not in stopwords]  # 불용어 제거
    return nouns

vect = CountVectorizer(tokenizer = lambda x: text_cleaning(x))
bow_vect = vect.fit_transform(df['content'].tolist())
word_list = vect.get_feature_names()
count_list = bow_vect.toarray().sum(axis=0)

In [57]:
word_list

['개월',
 '귀염둥이',
 '꼬을',
 '남아',
 '다리',
 '단둘',
 '모습',
 '뽀뽀',
 '셀카',
 '소개',
 '스타벅스',
 '슬슬',
 '신경',
 '어린이',
 '오지',
 '일보',
 '자꾸',
 '제빵',
 '직전',
 '질질',
 '촬칵',
 '취임식',
 '트러블',
 '포스',
 '피부',
 '할머니']

In [58]:
count_list

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1], dtype=int64)

In [59]:
word_count_dict = dict(zip(word_list, count_list))
word_count_dict

{'개월': 1,
 '귀염둥이': 1,
 '꼬을': 1,
 '남아': 1,
 '다리': 1,
 '단둘': 1,
 '모습': 1,
 '뽀뽀': 1,
 '셀카': 1,
 '소개': 1,
 '스타벅스': 1,
 '슬슬': 1,
 '신경': 1,
 '어린이': 1,
 '오지': 1,
 '일보': 1,
 '자꾸': 1,
 '제빵': 1,
 '직전': 1,
 '질질': 1,
 '촬칵': 1,
 '취임식': 1,
 '트러블': 1,
 '포스': 1,
 '피부': 1,
 '할머니': 1}